<div class="container mt-5">
    <h1 class="d-inline">Welcome, <%= @user.name %></h1>
    <a href="<%= session[:user_id] %>/edit" class="d-inline text-decoration-none ms-3"><i class="fas fa-edit"></i> Edit Profile</a>
</div>